/* 
    Created on : 30-Apr-2015, 00:13:19
    Author     : Script47
*/
@import 'http://fonts.googleapis.com/css?family=Montserrat:300,400,700';
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    -webkit-font-smoothing: antialiased;    
    text-rendering: optimizeLegibility;     
    font-family: Montserrat, sans-serif;
    font-size: 13px; 
    color: #444;
    background: #eee;
}
h1 {
    text-align: center;
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: red;
}
fieldset {
    border: 5px solid black;
}
legend {
    font-weight: bold;
    text-align: center;
}
select, input {
    -webkit-font-smoothing: antialiased;    
    text-rendering: optimizeLegibility;     
    font-family: Montserrat, sans-serif;  
    outline: none;
}
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}
table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}
table {
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    margin: 20px;
    border: #ccc 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}
table th {
    padding: 21px 25px 22px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
}
table th:first-child {
    text-align: left;
    padding-left: 20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
table tr {
    text-align: center;
    padding-left: 20px;
}
table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}
table td {
    padding: 18px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}
table tr:last-child td {
    border-bottom: 0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
/****************************
 * CLASSES START            *
 ****************************/
.moduleExists {
    color: green;
}
.moduleDoesNotExist {
    color: red;
}
.label {
    font-weight: bold;
    float: left;
}
.labelText {
    float: right;
}
.writeConfigButton {
    font-weight: bold;    
    width: 100%;
    color: white;     
    background-color: dodgerblue; 
    border: none;
    border-radius: 4px;  
    padding: 8px;
}
.centre {
    text-align: center;
}
.justify {
    text-align: justify;
}
/****************************
 * IDs START                *
 ****************************/
#navigationBar {
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
    width: auto;
}
#navigationBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
#navigationBar ul:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}
#navigationBar ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#navigationBar.align-right ul li {
    float: right;
}
#navigationBar.align-center ul {
    text-align: center;
}
#navigationBar ul li a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
#navigationBar ul li a:hover {
    color: #333333;
}
#navigationBar ul li a:hover:before {
    width: 100%;
}
#navigationBar ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: #ffffff;
    opacity: .5;
}
#navigationBar ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #333333;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
#navigationBar ul li.last > a:after,
#navigationBar ul li:last-child > a:after {
    display: none;
}
#navigationBar ul li.active a {
    color: #333333;
}
#navigationBar ul li.active a:before {
    width: 100%;
}
#navigationBar.align-right li.last > a:after,
#navigationBar.align-right li:last-child > a:after {
    display: block;
}
#navigationBar.align-right li:first-child a:after {
    display: none;
}
@media screen and (max-width: 768px) {
    #navigationBar ul li {
        float: none;
        display: block;
    }
    #navigationBar ul li a {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #fb998c;
    }
    #navigationBar ul li.last > a,
    #navigationBar ul li:last-child > a {
        border: 0;
    }
    #navigationBar ul li a:after {
        display: none;
    }
    #navigationBar ul li a:before {
        display: none;
    }
}
#infoBox {
    width: 250px;
}
#updateNotice {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: mediumseagreen;
    border-radius: 4px;
    padding: 8px;
}
#updateNotice a {
    text-decoration: underline;
    color: white;
}
#updateNotice a:hover {
    text-decoration: none;
    color: red;
}
#footer {
    font-weight: bold;
    text-align: center;     
    width: 95%;
    padding: 8px;
}